{
    "url": "https://testpages.herokuapp.com/styled/basic-html-form-test.html",
    "form_data": {
        "username": "finictest",
        "password": "Password123",
        "comment": "This is a test comment",
        "file_path": "example.txt",
        "checkbox_values": ["cb1", "cb2"],
        "radio_value": "rd3",
        "multi_select_values": ["ms1", "ms2"],
        "dropdown_value": "dd5"
    }
}